---
BasedOnStyle: Google

Language: Cpp
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 8
UseTab: Never
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false